/*resets*/
body {
    box-sizing: borderbox;
}
fieldset, p {
    margin: 0;
    padding: 0;
    border: 0;
}
.removeScroll {
    overflow: hidden;
}
.error {
    padding: 7px 10px;
    margin: 10px 0;
    border: 1px solid var(--errorColor);
    border-radius: var(--borderRadius);
    width: 100%;
    text-align: center;
}
.error * {
    color: var(--errorColor);
}
.error h3 {
    margin: 2px;
}

.spacer {
    padding-top: 10px;
}

.giant {
    font-size: 3em;
}

input[type="text"]::placeholder, input[type="email"]::placeholder {
    color: #fff;
}

button.navigation, button[type="submit"], input[type="button"] {
    border: none;
    border-radius: 4px;
    border: .5px solid var(--productBorder);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

button.navigation:hover, button[type="submit"]:hover, input[type="button"]:hover {
    background-color: var(--productButton);
    color: var(--inverseText);
    box-shadow: 1px 5px 17px -4px rgba(159,166,159,1);
}

.underline {
    text-decoration: underline;
}

/* remove google yellow filled in fields */
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:active,
select:-webkit-autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
}
.rounded {
    border-radius: var(--borderRadius);
}
.rounded div:first-child{
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
}
.rounded div:last-child{
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
}

button.disabledElement {
    cursor: not-allowed;
    color: graytext;
    box-shadow: none;
    background-color: var(--productButton);
}

button.disabledElement:hover {
    color: graytext;
    box-shadow: none;
    background-color: var(--productButton);
}

