.container {
    font-size: 1.1em;
    min-height: 600px;
    width: 100%;
    display: grid;
    grid-template-areas:
    "header"
    "banner"
    "products"
    "about"
    "email"
    "footer"
    "copyright";
}
.creditCardContainer {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: 48% 48%;
    grid-template-areas:
    "productsInCart creditCard"
    "checkoutFormContainer shipToChoice";
}
.banner h2 {
    margin-top: 3%;
    color: var(--headerText);
    font-weight: bold;
    font-variant: small-caps;
}
.banner span {
    margin-top: 7%;
    position: relative;
    letter-spacing: 3px;
}
.loss_leader img, .loss_leader p {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.loss_leader p{
    margin-left: 7px;
    width: 80px;
    font-size: 1.7em;
}
.container .footer {
    grid-area: footer;
    flex-direction: row;
}
.container .footer > div ul li{
    flex-direction: column;
    display: flex;
}
.container .copyright {
    background: hsla(194, 33%, 21%, .25);
    grid-area: copyright;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 16px;
    width: 100%;
}
.container span {
    margin-right: 7px;
}
.container a {
    margin-left: 7px;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: no-wrap;
}
.container > div {
    display: flex;
    border: 1px solid #7b7777;
    justify-content: center;
    min-height: var(--rowHeightMin);
}
.container > div.padding {
    padding: 0 10px 0 10px;
}
.container .header {
    grid-area: header;
    min-height: 140px;
}
.container .banner {
    grid-area: banner;
    min-height: 200px;
}
.container .about {
    grid-area: about;
}
.container .email {
    grid-area: email;
    background-color: hsla(194, 33%, 31%, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#email-contact {
    justify-content: flex-start;
}
.email form > select, .email_address input[type="text"] {
    margin-right: 10px;
}
.email input{
    margin-right: 10px;
}
#checkoutFormContainer {
    grid-area: checkoutFormContainer;
    display: none;
    justify-content: flex-start;
}
button.navigation {
    height: 4em;
    width: 10em;
    background-color: #5cb85c;
    color: #fff;
    box-shadow: 9px 10px 17px -4px rgba(159,166,159,1);
    border-radius: 10px;
    outline: none;
}
button.navigation.forward {
    float: right;
    margin-right: 16px;

}
button.navigation.backward {
    float: left;
    margin-left: 33px;
}
@media (max-width: 1100px) {
    #email-contact select, #email-contact input {
        width: 25em;
        margin-bottom: 7px;
    }
    #email-contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70%;
        justify-content: flex-end;
    }
    .product {
        width: 27%;
    }
    .checkoutForm-container {
        flex-direction: column-reverse;
    }
    .productsInCart {
        max-width: inherit;
    }
}
@media (min-width: 1000px) {
    .checkoutForm-container {
        justify-content: space-around;
    }
    .totals {
        align-self: center;
    }
}
@media (max-width: 850px) {
    .creditCardContainer {
        width: var(--formBreakWidth850);
        grid-template-columns: 100%;
        grid-template-areas:
        "productsInCart"
        "creditCard"
        "shipToChoice"
        "checkoutFormContainer";
    }
    .checkoutForm-container {
        /*width: 80%;*/
        width: var(--formBreakWidth850);
        justify-content: center;
        grid-template-columns: 100%;
        grid-template-areas: 
            "productsInCart"
            "checkoutForm"
            
    }
    #email-contact select, #email-contact input {
        width: 90%;
        margin-bottom: 7px;
    }
    .email {
        flex-direction: column;
    }
    .loss_leader, #email-contact {
        margin-bottom: 10px;
    }
    .container .banner {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .container .banner h2 {
        font-size: 2em;
        margin-bottom: 5px;
    }
    .container .banner span {
        margin: inherit;
        letter-spacing: 2px;
    }
    .container .copyright {
        justify-content: center;
    }
    .modal-content {
        margin: 3px;
    }
    #registration {
        width: 100%;
    }
    .modal-body {
        padding: 0 5px;
    }
}
@media (max-width: 700px) {
    .creditCardContainer, .checkoutForm-container  {
        width: 100%;
    }
}
@media (max-width: var(--mediaBreakPoint600)) {
    .horizontalRow {
        flex-direction: column;
    }
    .checkoutForm-container {
        width: 98%;
    }
    .container .product-list {
        padding: 0 0;
    }
    .product-info {
        min-width: 166px;
    }
    .modal-body .productsAndTotals .product-container {
        flex-direction: column;
        align-items: center;
    }
    .productsAndTotals .product-container .product-modifier {
        justify-content: center;
        margin-bottom: 15px;
    }
    #email-contact {   
        width: 100%;
    }
    #email-contact select, #email-contact input {
        width: 95%;
        margin-bottom: 7px;
    }
    .container .copyright {
        font-size: .7em;
    }
    .creditCardContainer, .checkoutForm-container  {
        width: 98%;
    }
}