<script id="productCategories" type="text/x-handlebars-template">
	<div class="category" data-categoryname="{{categoryName}}" data-lit="true">
		<h3>{{categoryName}}</h3>
		<div class="led"></div>
	</div>
</script>