<script id="creditCard" type="text/x-handlebars-template">
	<div class="creditCardContainer">
		<div class="productsInCart">
			<h2 class="underline">Checkout items:</h2>
			<div class="rounded">
				{{{productsInCart}}}
			</div>
			<div class="checkoutTotals">
				<span>Total:</span>
				<span class="grandTotal"></span>
			</div>
		</div>
		<form id="creditCard" novalidate>
			<fieldset>
				<h2 class="underline">Enter your card information</h2>
				<div class="field">
					<label for="cardNumber_id">Card number</label>
					<input type="text" id="cardNumber_id" name="cardNumber" data-required-type="credit-card" data-required-message="Please enter a valid credit card number.">
					</input>
				</div>
				<div class="horizontalRow">
					<div class="field">
						<label for="firstName_id">First Name</label>
						<input type="text" id="firstName_id" name="firstName" class="spacer" data-required-type="name" data-required-message="Enter first name."></input>
					</div>
					<div class="field">
						<label for="lastName_id">Last Name</label>
						<input type="text" id="lastName_id" name="lastName" data-required-type="name" data-required-message="Enter last name."></input>
					</div>
				</div>
				<div class="horizontalRow">
					<div class="field">
						<label for="cardMonth_id">Month</label>
						<select id="cardMonth_id" name="cardMonth" class="spacer"></select>
					</div>
					<div class="field">
						<label for="cardYear_id">Year</label>
						<select id="cardYear_id" name="cardYear" ></select>
						</input>
					</div>
				</div>
				<div class="field short">
					<label for="cardSecurityCode_id">Security code</label>
					<input type="text" id="cardSecurityCode_id" name="cardSecurityCode" data-required-type="security-code" data-required-message="Enter security code."></input>
				</div>
			</fieldset>
		</form>
		{{{shipToChoiceContainer}}}
		<div id="checkoutFormContainer">
			{{{checkoutForm}}}
		</div>
	</div>
</script>



