<script id="footer" type="text/x-handlebars-template"> 
    <div class="links">
        <ul>
            <li>
                <a href="https://store.draxe.com/" target="_blank">dr. axe</a>
            </li>
            <li>
                <a href="https://athleticgreens.com/" target="_blank">athletic greens</a>
            </li>
            <li>
                <a href="https://truenutrition.com/" target="_blank">truenutrition</a>
            </li>
            <li>
                <a href="https://www.truthnutra.com" target="_blank">truthnutra</a>
            </li> 
        </ul>
    </div>
</script>

