<script id="header" type="text/x-handlebars-template">
	<h1 class="logo"><a href="#">Greens!</a></h1>
    <ul class="main-nav">
        <li><a id="clickProducts" href="#">Products</a></li>
        <li><a id="clickAbout" href="#">About</a></li>
        <li><a id="clickContact" href="#">Contact</a></li>
        <li><a id="shoppingCartClick" href="#"><i class="fas fa-shopping-cart"></i></a></li>
    </ul>
</script>