<script id="header" type="text/x-handlebars-template">
	<h1 class="logo"><a href="#">Greens!</a></h1>
    <ul class="main-nav">
        <li><a id="click-products" href="#">Products</a></li>
        <li><a id="click-about" href="#">About</a></li>
        <li><a id="click-contact" href="#">Contact</a></li>
        <li><a id="shopping-cart-click" href="#"><i class="fas fa-shopping-cart"></i></a></li>
    </ul>
</script>