<script id="modal" type="text/x-handlebars-template">
	<div>
		<div class="modal-header">
          <span class="close">&times;</span>
          <h2>{{title}}</h2>
        </div>
        <div class="modal-message"></div>
        <div class="modal-body">{{{markup}}}</div>
        <div class="modal-footer">{{{forwardButton}}}{{{backButton}}}</div>
    </div>
</script>


