<script id="modal" type="text/x-handlebars-template">
	<div>
		<div class="modal-header">
          <span class="close">&times;</span>
          <h2 class="modalTitle">{{title}}</h2>
        </div>
        <div class="message-blank"></div>
        <div class="modal-body">
        	<div class="content"></div>
        	<div class="modal-footer">{{{forwardButton}}}{{{backButton}}}</div>
        </div>
    </div>
</script> 


