<script id="productAndTotals" type="text/x-handlebars-template">
	<div class="shoppingCart">
	   <div class="productsAndTotals">
	   		<h2 class="underline">Your Items</h2>
			<div class="rounded">
				{{{productMarkup}}}
			</div>
			<div>
				<div class="checkoutTotals">
					<span>Total:</span>
					<span class="grandTotal"></span>
				</div>
			</div>
		</div>
	</div>
</script>


