<script id="importUserPage" type="text/x-handlebars-template">
	<div class="checkoutForm-container">
		<div class="checkoutForm">
			{{{checkoutForm}}}
		</div>
		<div class="productsInCart">
			<h2 class="underline">Checkout Items</h2>
			<div class="rounded">
				{{{productsInCart}}}
			</div>
			<div class="checkoutTotals">
				<span>Total:</span>
				<span class="grandTotal"></span>
			</div>
		</div>
	</div>
</script>